@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .price-item:nth-child(odd) div:nth-of-type(1) p:nth-of-type(1) {
        @apply text-slate-900
    }

    .price-item:nth-child(even) div:nth-of-type(1) p:nth-of-type(1) {
        @apply text-red-400
    }

    .line-orange {
        background: rgb(244, 64, 37);
    }

    .about-h3 {
        color: rgb(13, 98, 242)
    }

    /* .faq-1-item:nth-child(odd) {
        @apply mr-0
    }

    .faq-1-item:nth-child(even) {
        margin-left: 42px;
    } */
}

@layer utilities {
    .about-container-wrapper {
        @apply mx-auto;
        max-width: 1372px;
    }

    .about-container {
        @apply mx-auto;
        max-width: 960px;
    }

    .w-unset {
        width: unset;
    }

    .bg-blue-dark {
        background-color: rgb(5, 34, 74);
    }

    .bg-blue-dark-2 {
        background-color: rgb(7, 58, 145);
    }

    .text-gray {
        color: #242424;
    }

    .text-blue-dark {
        color: rgb(5, 34, 74);
    }

    .text-blue-dark-2 {
        color: rgb(5, 31, 77);
    }

    .text-blue-light {
        color: rgba(10, 103, 233, 0.5);
    }

    .text-gray-light {
        color: rgba(5, 34, 75, 0.6);
    }

    .default-orange {
        color: rgb(242, 67, 13);
    }

    .default-red {
        color: rgb(244, 64, 37);
    }

    .bg-blue-about {
        background-color: rgb(10, 103, 233);
    }

    .bg-blue-about-2 {
        background-color: rgb(5, 31, 77);
    }

    .bg-blue-about-3 {
        background-color: rgb(5, 31, 78, .7);
    }

    .bg-blue-about-4 {
        background-color: rgb(13, 98, 242);
    }

    .bg-gray-about {
        background-color: rgb(234, 242, 254);
    }

    .bg-default-orange {
        background-color: rgb(242, 67, 13);
    }

    .bg-blue-light {
        background-color: rgba(235, 243, 255, 0.5);
    }
}